In [1]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.1.1     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
cr2017 <- read.csv("crimedata_csv_AllNeighbourhoods_2017.csv")
cr2018 <- read.csv("crimedata_csv_AllNeighbourhoods_2018.csv")
cr2019 <- read.csv("crimedata_csv_AllNeighbourhoods_2019.csv")
cr2020 <- read.csv("crimedata_csv_AllNeighbourhoods_2020.csv")
cr2021 <- read.csv("crimedata_csv_AllNeighbourhoods_2021.csv")
cr2022 <- read.csv("crimedata_csv_AllNeighbourhoods_2022.csv")

In [3]:
# combine 6 years into one dataframe
cr2017_2022 <- rbind(cr2017,cr2018,cr2019,cr2020,cr2021,cr2022)
head(cr2017_2022)

# only select the TYPE, YEAR, NEIGHBOURHOOD for analysis
crime2017_2022 <- cr2017_2022 %>% 
    select(TYPE, YEAR, MONTH, DAY, NEIGHBOURHOOD) 
head(crime2017_2022)

  TYPE             YEAR MONTH DAY HOUR MINUTE HUNDRED_BLOCK
1 Theft of Vehicle 2017 11    29  20    0     29XX SKEENA ST
2 Theft of Vehicle 2017  6    21  21    0     2X JACKSON AVE
3 Theft of Vehicle 2017  9    21  18    0     2X W 14TH AVE
4 Theft of Vehicle 2017  5     9  15   30     2X W PENDER ST
5 Theft of Vehicle 2017 10     9   6    0     2XX ALEXANDER ST
6 Theft of Vehicle 2017  6    13   6   45     2XX CENTRAL ST
  NEIGHBOURHOOD             X        Y
1 Renfrew-Collingwood       497919.2 5456148
2 Strathcona                493220.8 5459096
3 Mount Pleasant            492319.5 5456190
4 Central Business District 492338.0 5458667
5 Strathcona                492802.5 5459038
6 Strathcona                492756.6 5457623

  TYPE             YEAR MONTH DAY NEIGHBOURHOOD
1 Theft of Vehicle 2017 11    29  Renfrew-Collingwood
2 Theft of Vehicle 2017  6    21  Strathcona
3 Theft of Vehicle 2017  9    21  Mount Pleasant
4 Theft of Vehicle 2017  5     9  Central Business District
5 Theft of Vehicle 2017 10     9  Strathcona
6 Theft of Vehicle 2017  6    13  Strathcona

In [7]:
# overal daily total crime incidents for each neighborhood in each year
crime_total <- crime2017_2022 %>%
    group_by(YEAR, DAY, NEIGHBOURHOOD) %>%
    filter(NEIGHBOURHOOD != "") %>%
    summarise(total = n())
head(crime_total)

`summarise()` has grouped output by 'YEAR', 'DAY'. You can override using the `.groups` argument.

  YEAR DAY NEIGHBOURHOOD             total
1 2017 1   Arbutus Ridge              13
2 2017 1   Central Business District 439
3 2017 1   Dunbar-Southlands          17
4 2017 1   Fairview                   80
5 2017 1   Grandview-Woodland         79
6 2017 1   Hastings-Sunrise           60

In [12]:
# daily analysis 
# daily average crime incidents for each neighborhood in each year
crime_daily_avg <- crime_total %>%
    group_by(NEIGHBOURHOOD) %>%
    summarise(daily_avg = mean(total))
head(crime_daily_avg)

# daily median  for crime incidents for each neighborhood in each year
crime_daily_median <- crime_total %>%
    group_by(NEIGHBOURHOOD) %>%
    summarise(daily_median = median(total))
head(crime_daily_median)

# daily standard deviation for crime incidents for each neighborhood in each year
crime_daily_sd <- crime_total %>%
    group_by(NEIGHBOURHOOD) %>%
    summarise(daily_sd = sd(total))
head(crime_daily_sd)

  NEIGHBOURHOOD             daily_avg
1 Arbutus Ridge              10.47486
2 Central Business District 348.02151
3 Dunbar-Southlands          13.64205
4 Fairview                   59.44086
5 Grandview-Woodland         57.51613
6 Hastings-Sunrise           39.24176

  NEIGHBOURHOOD             daily_median
1 Arbutus Ridge              11.0
2 Central Business District 373.0
3 Dunbar-Southlands          14.0
4 Fairview                   65.5
5 Grandview-Woodland         64.5
6 Hastings-Sunrise           43.0

  NEIGHBOURHOOD             daily_sd
1 Arbutus Ridge               5.195415
2 Central Business District 163.014606
3 Dunbar-Southlands           6.610143
4 Fairview                   27.608053
5 Grandview-Woodland         26.301829
6 Hastings-Sunrise           17.319768

In [9]:
# yearly analysis
# yearly average crime incidents for each neighborhood
crime_yearly_avg <- crime_total %>%
    group_by(YEAR, NEIGHBOURHOOD) %>%
    summarise(yearly_avg = mean(total))
head(crime_yearly_avg)

# yearly median for crime incidents for each neighborhood
crime_yearly_median <- crime_total %>%
    group_by(YEAR, NEIGHBOURHOOD) %>%
    summarise(yearly_median = median(total))
head(crime_yearly_median)

# yearly standard deviation for crime incidents for each neighborhood
crime_yearly_sd <- crime_total %>%
    group_by(YEAR, NEIGHBOURHOOD) %>%
    summarise(yearly_sd = sd(total))
head(crime_yearly_sd)

`summarise()` has grouped output by 'YEAR'. You can override using the `.groups` argument.

  YEAR NEIGHBOURHOOD             yearly_avg
1 2017 Arbutus Ridge              13.87097
2 2017 Central Business District 431.80645
3 2017 Dunbar-Southlands          16.74194
4 2017 Fairview                   69.93548
5 2017 Grandview-Woodland         77.48387
6 2017 Hastings-Sunrise           46.32258

`summarise()` has grouped output by 'YEAR'. You can override using the `.groups` argument.

  YEAR NEIGHBOURHOOD             yearly_median
1 2017 Arbutus Ridge              13
2 2017 Central Business District 435
3 2017 Dunbar-Southlands          16
4 2017 Fairview                   73
5 2017 Grandview-Woodland         80
6 2017 Hastings-Sunrise           46

`summarise()` has grouped output by 'YEAR'. You can override using the `.groups` argument.

  YEAR NEIGHBOURHOOD             yearly_sd
1 2017 Arbutus Ridge              4.595229
2 2017 Central Business District 57.918575
3 2017 Dunbar-Southlands          4.304786
4 2017 Fairview                  13.339004
5 2017 Grandview-Woodland        11.595605
6 2017 Hastings-Sunrise           8.711629

In [13]:
# highest average daily cirme incident rate
daily_highest <- max(crime_daily_avg$daily_avg)
highest_area <- crime_daily_avg$NEIGHBOURHOOD[which.max(crime_daily_avg$daily_avg)]
daily_highest
highest_area

# lowest average daily cirme incident rate
daily_lowest <- min(crime_daily_avg$daily_avg)
lowest_area <- crime_daily_avg$NEIGHBOURHOOD[which.min(crime_daily_avg$daily_avg)]
daily_lowest
lowest_area

[1] 348.0215

[1] "Central Business District"

[1] 1.705263

[1] "Musqueam"

In [ ]:
##